<div class="container"> 
  <div class=" imagemFundo" >
    <div class="col-md">
      <p>Lado A:</p>
      <div class="form-floating-line-heigh;">
      <input type="text" [(ngModel)]="LadoA" class="form-control inserirvalor" type="text" placeholder="Lado A" aria-label="Lado A">
      </div>
    <div class="col-md">
      <p>Lado B:</p>
      <div class="form-floating-line-heigh;">
      <input type="text" [(ngModel)]="LadoB" class="form-control inserirvalor" placeholder="Lado B" aria-label="Lado B">
      <br>
      <div class="resultado">
        <p>Resultado:</p>
        <p>{{LadoC}}</p>
      </div>
    </div>
        <br>
        <div class="button">
          <button type="button"  class="btn btn-outline-dark btn-sm" (click)="calcularteorema()">Calcular</button>
         <button type="button"  class="btn btn-outline-dark btn-sm" (click)="zerar()">zerar</button>
        </div>
        </div>
  
</div>